body {
  font-family: 'Roboto', Tahoma, Verdana, sans-serif !important;
  font-size: 18px;
  background-color: #09172B;
}
.about_me_btn, .btn_send {
  background-color: rgb(31, 76, 139);
  color: #ffffff;
}
#about_me_text {
  font-size: 18px;
}
.card_border {
  border: 1px solid rgb(31, 67, 117);
  background-color: inherit;
  color: #ffffff;
}
.card-title {
  border-left: 5px solid #fff;
}
.form-control, .form-control:active, .form-control:focus {
  border: none;
  border-radius: 0px;
  background-color: #09172B;
  border-bottom: 0.8px solid white;
}
.form-row div:active, .form-row div:active {
  border: none;
}
.phone {
  margin-top: 87px;
}